.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 19vmin;
}

.COCLogo {
  height: 15vmin;
  pointer-events: auto;
  position: absolute;
  left: 15px;
  top: 15px;
}