:root {
    --background-color: #f8f9fa;
    --hover-background-color: #f8e2de;
    --button-color: #007bff;
    --button-hover-color: #0056b3;
    --text-color: #495057;
    --border-color: #ced4da;
}

.Banking {
    padding: 20px;
    position: relative;
}

.Banking h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.banks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.bank-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: relative;
}

.bank-card:hover {
    background-color: var(--hover-background-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.bank-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.bank-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.action-buttons button {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: var(--button-hover-color);
}

.sort-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.sort-container label {
    margin: 0;
}

.sort-container select {
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
    color: var(--text-color);
    transition: border-color 0.3s ease;
}

.sort-container select:focus {
    border-color: var(--button-color);
    outline: none;
}