:root {
    --red: #c8102e;
    --white: #ffffff;
}

.Map {
    padding: 20px;
    position: relative; /* Enable relative positioning */
}

.Map h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.category-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0; /* Adds padding to the top and bottom */
    position: absolute; /* Use absolute positioning */
    top: 0; /* Aligns to the top */
    right: 20px; /* Adds some space from the right */
    left: 20px; /* Adds some space from the left for better centering */
    z-index: 10; /* Brings buttons to the front */
}

.button {
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 4px;
    font-size: 0.9em;
    color: var(--red);
    transition: background-color 0.3s, color 0.3s;
}

.button:hover, .button.selected {
    background-color: var(--red);
    color: var(--white);
}

.map-container {
    border: 1px solid #ddd;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px; /* Space to ensure map doesn't overlap with buttons */
    background-color: #f9f9f9;
    overflow: hidden;
}

.map-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
